html, body {
	margin: 0px;

	font-size: 16px;
}

body {
	font-family: Lato;

	max-width: 500px;

	margin: 0px auto;
}

/*

.float-left, .float-right {
	display: inline-block;
	width: 48%;
}

.float-left {

}
*/

a {
	text-decoration: none;
}

.welcome {
	text-align: center;
	background-color: #008b8b;

	padding: 30px;
}

.form-group {
	margin: 20px;
}

fieldset {
	margin: 30px auto 20px auto;
}

legend {
	font-weight: bold;
	font-size: 1.3rem;
	padding: 10px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input, button {
	height: 35px;
}

input {
	width: 100%;
}

footer {
	color: #666;
	margin-top: 30px;
}